@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");

* {
  font-family: "Poppins", sans-serif;
  color: black;
}

html {
  font-size: 16px; /* Root font size */
}

/* Style: Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  height: 6rem;
  align-content: center;
  align-items: center;
  padding: 5rem;
  padding-top: 0px;
  padding-bottom: 0px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  font-weight: 500;
}

.logo-container {
  display: flex;
  justify-content: start;
}

.logo {
  border: 2px solid #7b2e8f;
  display: flex;
  border-radius: 50%;
  align-content: center;
  justify-content: center;
  height: 3.5rem;
  width: 3.5rem;
  align-items: center;
}

.logo > img {
  height: 3rem;
  width: 1.5rem;
}

.menu {
  display: flex;
  flex-direction: row;
  gap: 1.2rem;
  grid-area: menu;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.menu-item {
  display: flex;
  align-content: center;
  justify-content: center;
  text-decoration: none;
  padding: 10px;
}

.menu-item:active,
.menu-item:hover {
  color: #7b2e8f;
}

.search-container {
  display: flex;
  justify-content: end;
  position: relative;
}

.search {
  width: 15rem;
  height: 4rem;
  background: #7b2e8f1a;
  display: flex;
  flex-flow: row nowrap;
  align-content: center;
  border-radius: 4rem;
  transition: width 0.3s ease, border-radius 0.3s ease;
}

/* .search:focus-within {
  width: 15rem;
} */

.search > input {
  background-color: transparent;
  border: none;
  outline: none;
  width: 100%;
  padding-left: 1.5rem;
  font-size: 1rem;
  font-weight: 500;
}
.search > button {
  outline: none;
  border: none;
  background-color: transparent;
  padding-right: 1.5rem;
}
/* Style: Navbar --- End */

.body-section {
  padding: 5rem;
  padding-top: 0px;
  padding-bottom: 0px;
}

/* Style: Introduction */

.submenu-container {
  display: flex;
  justify-content: space-between;
  height: 5rem;
  align-items: center;
}

.submenu {
  display: flex;
  justify-content: start;
  gap: 1.3rem;
  align-content: center;
  text-decoration: none;
  padding: 10px;
  font-weight: 500;
  cursor: pointer;
}

.social-container {
  display: flex;
  gap: 1.5rem;
  justify-content: end;
}

.social-item > i {
  font-size: 1.5rem;
  color: #7b2e8f;
}

.banner-container {
  display: grid;
  column-gap: 1rem;
  grid-template-columns: repeat(2, 1fr);
  font-weight: 500;
}

.banner-item {
  background: #eaf5ef;
  height: 20rem;
  border-radius: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.banner-item > p {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 500;
  width: 15.75rem;
}

.banner-item > img {
  width: 15.75rem;
  height: 6rem;
}

.banner-item > button {
  width: 12rem;
  height: 3.3rem;
  background: #7b2e8f;
  border: none;
  border-radius: 3.3rem;
  cursor: pointer;
}

.banner-item > button > p {
  font-size: 0.87 rem;
  line-height: 1.3rem;
  font-weight: 500;
  color: white;
}

.banner-item > iframe {
  width: 100%;
  height: 100%;
  border-radius: 1rem;
}

.features-container {
  padding: 5rem 0 5rem 0;
  display: flex;
  justify-content: space-around;
}

.features-item {
  width: 25rem;
  height: 5rem;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: start;
}

.features-item-content {
  display: flex;
  flex-direction: column;
}

.features-item-content-header {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  display: flex;
  align-content: center;
}

.features-item-content-header > i {
  font-size: 1.5rem;
  padding-right: 0.5rem;
}

.features-item-content-header > h2 {
  font-size: 1.5rem;
  font-weight: 500;

  text-transform: uppercase;
  margin: 0px;
}
.features-item-content > p {
  font-size: 1rem;
  font-weight: 500;
  margin: 0px;
}

/* Style: Introduction --- End  */

/* Style: About */
.about-us {
  background: radial-gradient(
    72.85% 72.85% at 50% 50%,
    #f2ebf4 0%,
    #ffffff 100%
  );
  padding: 2.5rem 2.5rem 0 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  padding-bottom: 3rem;
}

.about-us > h1 {
  font-size: 2rem;
  line-height: 2.6rem;
  font-weight: 600;
  color: #7b2e8f;
  display: flex;
  justify-content: center;
}

.about-us > p {
  font-size: 1rem;
  font-weight: 400;
  text-align: center;
  width: 40rem;
}

.about-us > button {
  width: 12rem;
  height: 3rem;
  border-radius: 1.3rem;
  border: 1px solid #7b2e8f;
  margin-top: 1.5rem;
}

.about-us > button > p {
  font-size: 0.875rem;
  text-transform: uppercase;
  font-weight: 500;
}
/* Style: About --- End */

/* Style: Catrgories */
.categories {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
}

.categories-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.categories-header > h1 {
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 600;
  line-height: 2.6rem;
}

.categories-header > h2 {
  text-transform: uppercase;
  font-size: 1.25rem;
  font-weight: 500;
  color: #7b2e8f;
}

.categories-header > h2 > i {
  color: #7b2e8f;
}

.categories-content {
  display: flex;
}

.categories-sidebar {
  display: flex;
  flex-direction: column;
  width: 10%;
  border-right: 1px solid rgba(0, 0, 0, 0.2);
}

.categories-sidebar-item {
  cursor: pointer;
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 2rem;
  color: #00000066;
  margin-bottom: 0.5rem;
  text-decoration: none;
  height: 3rem;
  border-radius: 3rem;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  margin-right: 0.1rem;
}

.categories-sidebar-item:active,
.categories-sidebar-item:hover {
  background-color: #7b2e8f;
  color: white;
}
/* style: Categories --- End */
